body {
    background-color: ivory;
    font-family: monospace;
    font-size: 14px;
}

input {
    background-color: ivory;
    font-family: monospace;
}

a:not([class=button]) {
    text-decoration: none;
    color: darkslategray;
    text-shadow: 0 0 1px;
}

a:not([class=button]):hover {
    text-shadow: 0 0 7px;
}

hr {
    width: 400px;
    margin: 27px auto;
}

.peslogo {
    width: 50px;
    margin-top: 14px;
    cursor: pointer;
}

.button {
    background-color: bisque;
    text-decoration: none;
    padding: 7px 14px;
    border-radius: 3px;
    color: saddlebrown;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    border: none;
}

.button:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.button:focus {
    outline: 0;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.create-form {
    text-align: left;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 4px;
}

.create-form input {
    width: 100%;
    height: 24px;
    border: 1px solid darkgrey;
    border-radius: 1px;
    padding: 3px 7px;
}

.create-form input:focus {
    outline: 0;
}

.create-form th {
    font-weight: 400;
}

.create-form td,
.create-form th {
    padding: 4px 0;
}
