{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PES league{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'season/css/common.css' %}">
    <link rel="icon" type="image/png" href="{% static 'season/img/gi-icon.png' %}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    {% block css %}{% endblock %}
</head>
<body class="align-center">
    {% block messages %}
        {% if messages %}
        <section id="messages-display">
            <ul>
                {% for message in messages %}
                <li{% if message.tags %} class="messages message-{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}
    {% endblock %}

    {% block logo %}
        <div>
            <a href="{% url 'home' %}">
                <img src="{% static 'season/img/peslogo.png' %}" alt="peslogo" class="peslogo">
            </a>
        </div>
    {% endblock %}

    {% block body %}{% endblock %}

    {% block default_js %}
        {% if messages %}
        <script src="{% static 'common/messages.js' %}"></script>
        {% endif %}
    {% endblock %}

    {% block js %}{% endblock %}
</body>
</html>
