{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PES league{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'season/common.css' %}">
    {% block css %}{% endblock %}
</head>
<body class="align-center">
    {% block messages %}
    {% if messages %}
    <section id="messages-display">
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="message-{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </section>
    <script>
        var element = document.getElementById('messages-display')
        setTimeout(function () {
            element.remove()
        }, 3000)
    </script>
    {% endif %}
    {% endblock %}

    {% block logo %}
    <div>
        <a href="{% url 'home' %}">
            <img src="{% static 'season/peslogo.png' %}" alt="peslogo" class="peslogo">
        </a>
    </div>
    {% endblock %}

    {% block body %}{% endblock %}

    {% block js %}{% endblock %}
</body>
</html>
