{% extends 'base/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'season/css/season_form.css' %}">
{% endblock %}

{% block body %}
<section>
    <h1>Mùa giải mới</h1>
</section>
<section>
    <form method="post">
        {% csrf_token %}
        <table class="create-form">
            {{ form.as_table }}
        </table>
        <input class="button" type="submit" value="Bắt đầu">
    </form>
</section>
<section>
    <hr>
    {% include 'common/back_btn.html' %}
</section>
{% endblock %}

{% block js %}
<script src="{% static 'season/js/season_form.js' %}"></script>
{% endblock %}
