{% extends 'base/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'season/season_list.css' %}">
{% endblock %}

{% block body %}
<section>
    <h1>Danh sách mùa giải</h1>
</section>
<section>
    <div class="season-list">
        <ul>
            {% for season in seasons %}
            <li>
                <a href="{{ season.get_absolute_url }}">{{ season.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
<section>
    <div>
        <a class="button" href="{% url 'season:season_create' %}">Thêm mùa giải</a>
    </div>
</section>
{% endblock %}
