{% extends 'base/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'common/game_results.css' %}">
<link rel="stylesheet" href="{% static 'common/standing_table.css' %}">
{% endblock %}

{% block body %}
<section>
    <h1>Mùa giải {{ season.name }}</h1>
    <p>Số vòng: {{ season.length }}</p>
</section>
<section>
    <h2>Bảng xếp hạng</h2>
    {% include 'common/standing_table.html' with standings=standings %}
</section>
<section>
    <h2>5 trận gần nhất</h2>
    {% include 'common/game_results.html' with games=games %}
    <a href="{% url 'season:season_game_list' season.slug %}">Xem tất cả</a>
</section>
<section>
    <hr>
    <h2>Kết quả thi đấu</h2>
    <form method="post">
        {% csrf_token %}
        <table class="create-form">
            {{ form.as_table }}
        </table>
        <input class="button" type="submit" value="Lưu">
    </form>
</section>
<section>
    <hr>
    {% include 'common/back_btn.html' %}
</section>
{% endblock %}
