{% extends 'base/base.html' %}
{% load static %}

{% block body %}
<section>
    <h1>Mùa giải {{ season.name }}</h1>
    <p>Số vòng: {{ season.length }}</p>
</section>
<section>
    <h2>Bảng xếp hạng</h2>
</section>
<section>
    <h2>5 trận gần nhất</h2>
    <a href="#">Xem tất cả</a>
</section>
<section>
    <hr>
    <h2>Kết quả thi đấu</h2>
    <form method="post">
        {% csrf_token %}
        <table class="create-form">
            {{ form.as_table }}
        </table>
        <input class="button" type="submit" value="Lưu">
    </form>
</section>
<section>
    <hr>
    <a style="font-size: 20px;" href="{% url 'season:season_list' %}">&larr;</a>
</section>
{% endblock %}
