{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mùa giải {{ season.name }}</title>
    <link rel="stylesheet" href="{% static 'season/common.css' %}">
</head>
<body class="align-center">
    <section>
        <h1>Mùa giải {{ season.name }}</h1>
        <p>Số vòng: {{ season.length }}</p>
    </section>
    <section>
        <!-- Bảng xếp hạng -->
    </section>
    <section>
        <!-- Các trận gần đây -->
    </section>
    <section>
        <hr>
        <a class="button" href="{% url 'season:season_list' %}">Quay lại</a>
    </section>
</body>
</html>