html,
body {
  margin: 0px;
}

body {
  background-color: ivory;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  padding-bottom: 35px;
  padding-left: 7px;
  padding-right: 7px;
}

input,
select {
  background-color: ivory;
  font-family: 'Roboto Mono', monospace;
}

a:not([class="button"]) {
  text-decoration: none;
  color: darkslategray;
  text-shadow: 0 0 1px;
}

a:not([class="button"]):hover {
  text-shadow: 0 0 7px;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}

hr {
  max-width: 400px;
  margin: 27px auto;
}

ul {
  max-width: 400px;
  margin: 0 auto;
  font-size: 14px;
  margin-bottom: 27px;
  list-style: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 3px;
}

.peslogo {
  /* width: 50px;
    margin-top: 14px; */
  cursor: pointer;
  max-width: 100%;
}

.button {
  background-color: bisque;
  text-decoration: none;
  padding: 7px 14px;
  border-radius: 3px;
  color: saddlebrown;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  border: none;
  font-size: 14px;
}

.button:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.button:focus {
  outline: 0;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

#messages-display ul {
  margin-bottom: 4px;
}

.messages {
  padding: 7px 14px;
  border-radius: 3px;
  margin-top: 14px;
}

.message-success {
  background-color: aqua;
}

.message-error {
  background-color: navajowhite;
  color: red;
  font-weight: 700;
}

.back-btn {
  font-size: 20px;
  cursor: pointer;
}

.create-form {
  text-align: left;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 14px;
}

.create-form input,
.create-form select {
  width: 100%;
  border: 1px solid darkgrey;
  border-radius: 1px;
  padding: 3px 7px;
  box-sizing: border-box;
  height: 32px;
}

.create-form input:focus,
.create-form select:focus {
  outline: 0;
}

.create-form select {
  cursor: pointer;
}

.create-form th {
  font-weight: 400;
  min-width: 75px;
}

.create-form td,
.create-form th {
  padding-top: 4px;
  padding-bottom: 4px;
}

.create-form th {
  padding-right: 4px
}

.errorlist {
  margin-bottom: 7px;
  color: red;
  font-weight: 700;
  background-color: navajowhite;
  padding: 4px 7px;
  border-radius: 1px;
  box-sizing: border-box;
}

.border-right {
  border-right: 1px solid #969696;
}

.border-bottom-win {
  border-bottom: 2px solid green;
}

.border-bottom-draw {
  border-bottom: 2px solid ;
}

.border-bottom-lose {
  border-bottom: 2px solid red;
}

.helptext {
  font-size: 12px;
  color: darkslategray;
  display: block;
  margin-top: 5px;
}

.games-list ul,
.games-list li {
  max-width: 565px;
}
