.game-result-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 565px;
  margin: 0 auto;
}

.game-result-team {
  flex-basis: 33%;
}

.game-result-score {
  flex-basis: 33%;
}

.score {
  font-size: 20px;
  text-shadow: 0 0 1px;
}

.game-result-team span {
  display: block;
}

.team-name {
  font-size: 18px;
}

.manager-name {
  font-size: 17px;
  font-style: italic;
}
