<div class="pagination">
    <label for="page-number">Trang</label>
    <select name="page-number" onchange="location = '?page=' + this.value">
        <!-- Small trick to get kind of "for i in range(...)" in python -->
        {% with ''|center:page_obj.paginator.num_pages as range %}
            {% for _ in range %}
                {% if forloop.counter == page_obj.number %}
                <option value="{{ forloop.counter }}" selected>{{ forloop.counter }}</option>
                {% else %}
                <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                {% endif %}
            {% endfor %}
        {% endwith %}
    </select>
    <span>/ {{ page_obj.paginator.num_pages }}</span>
</div>
