<div class="standing-table-container">
    <table class="standing-table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Đội</th>
                <th>Số trận</th>
                <th>Điểm</th>
                <th>Bàn thắng</th>
                <th>Bàn thua</th>
                <th>Hiệu số</th>
            </tr>
        </thead>
        <tbody>
            {% for standing in standings %}
            <tr>
                <td class="align-center">{{ forloop.counter }}</td>
                <td class="align-left">
                    <span>{{ standing.team.name }}</span>
                    {% if forloop.counter == 1 %}
                    <span><i class="gg-crown"></i></span>
                    {% endif %}
                </td>
                <td class="align-right">{{ standing.games_played }}</td>
                <td class="align-right">{{ standing.points }}</td>
                <td class="align-right">{{ standing.gf }}</td>
                <td class="align-right">{{ standing.ga }}</td>
                <td class="align-right">{{ standing.gd }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
